@import "tailwindcss";

@source "../**/*.{js,ts,jsx,tsx}";

@theme inline {
  --font-sans: var(--font-inter);
  --color-brand-blue: #2563eb;
  --color-brand-indigo: #4f46e5;
}

html {
  scroll-behavior: smooth;
}

body {
  @apply bg-white text-slate-900 antialiased;
}
